@page "/api"

@using Assignment.Application.DTO;
@using Assignment.Web.Data

@inject IListProcessorApi apiClient

<table class="table">
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input @bind="processReq.Name" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Last Name</label>
        </td>
        <td>
            <input @bind="processReq.LastName" />
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="OnSendSerivce" disabled="@sendDisabled">Send</button>
        </td>
        <td>
            <input @bind="processReq.Guid" />
        </td>

    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="OnCheckStatusService" disabled="@checkDisabled">Check Status</button>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <label>Status : </label> <label>@processReq.ProcessStatus</label>
        </td>
        <td>
            <label>Progress :</label><label>@processReq.Progress</label>%
        </td>
    </tr>

</table>


<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        @if (processReq != null && processReq.Outputs != null)
        {
            foreach (var output in processReq.Outputs)
            {
                <tr>
                    <td>@output.Ordinal</td>
                    <td>@output.Value</td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    private ProcessRequestDto processReq = new ProcessRequestDto();

    bool sendDisabled {
        get
        {
            return processReq.Name==null || processReq.Name.Trim() == String.Empty || processReq.LastName == null || processReq.LastName.Trim() == String.Empty;
        }
    }

    bool checkDisabled
    {
        get
        {
            return processReq.Guid == Guid.Empty;
        }
    }

    private async Task OnSendSerivce()
    {
        processReq.Guid = await apiClient.ProcessList(processReq.Name, processReq.LastName);
        processReq.Progress = 0;
    }

    private async Task OnCheckStatusService()
    {
        processReq = await apiClient.GetStatus(processReq.Guid);
    }

}
