@page "/"

@using Assignment.Application.Services;
@using Assignment.Application.DTO;


@inject IListProcessor sqlClient

<table class="table">
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input @bind="processReq.Name" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Last Name</label>
        </td>
        <td>
            <div>
                <input @bind="processReq.LastName" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="Send" disabled="@sendDisabled">Send</button>
        </td>
        <td>
            <input @bind="processReq.Guid" />
        </td>

    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="CheckStatus" disabled="@checkDisabled">Check Status</button>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <label>Status : </label> <label>@processReq.ProcessStatus</label>
        </td>
        <td>
            <label>Progress : </label><label>@processReq.Progress</label> %
        </td>
    </tr>

</table>

<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        @if (processReq != null && processReq.Outputs != null)
        {
            foreach (var output in processReq.Outputs)
            {
                <tr>
                    <td>@output.Ordinal</td>
                    <td>@output.Value</td>
                </tr>
            }
        }

    </tbody>
</table>



@code {



    private ProcessRequestDto processReq = new ProcessRequestDto();

    bool sendDisabled
    {
        get
        {
            return processReq.Name == null || processReq.Name.Trim() == String.Empty || processReq.LastName == null || processReq.LastName.Trim() == String.Empty;
        }
    }

    bool checkDisabled
    {
        get
        {
            return processReq.Guid == Guid.Empty;
        }
    }

    private void Send()
    {
        processReq.Guid = sqlClient.ProcessList(processReq.Name, processReq.LastName);
    }

    private void CheckStatus()
    {
        processReq = sqlClient.GetStatus(processReq.Guid);
    }

}
